body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-family: 'Rubik', sans-serif;
  /* background: rgb(238,174,202); */
  color: #fff;
  /* background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */
  background-color: #070012;
  display: grid;
  place-content: center;
  height: 100vh;
}

.App {
  text-align: center;
  width: 100%;
}

.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 780px;
  min-height: 400px;
  background: rgb(238, 174, 202);
  /* background: linear-gradient(90deg, rgba(238, 174, 202, 1) 0%, rgba(173, 9, 232, 1) 0%, rgba(79, 0, 94, 1) 100%, rgba(242, 49, 200, 1) 100%); */
  background-color: #FF9005;
  background-image: linear-gradient(to right top, #ee9b00, #e5af00, #d7c400, #c3d800, #a8eb12);
  background: rgb(255, 196, 221);
  background: linear-gradient(90deg, rgba(255, 196, 221, 1) 17%, rgba(214, 123, 246, 1) 100%, rgba(0, 0, 0, 1) 100%);
  font-size: 2.5rem;
  color: #fff;

}

.question {
  width: 50%;
  padding: 6rem;
  border-radius: 10%;
}

.container-answers {
  width: 100%;
}

.container-answers button {
  border: none;
  width: 35%;
  height: 62px;
  font-size: .9rem;
  margin: 1rem;
  border-radius: 40px;
  cursor: pointer;
  font-weight: bold;
}

.answer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  width: 750px;
  /* background: rgb(238, 174, 202);
    background: linear-gradient(90deg, rgba(238, 174, 202, 1) 0%, rgba(173, 9, 232, 1) 0%, rgba(79, 0, 94, 1) 100%, rgba(242, 49, 200, 1) 100%); */
  background: rgb(255, 196, 221);
  background: linear-gradient(90deg, rgba(255, 196, 221, 1) 17%, rgba(214, 123, 246, 1) 100%, rgba(0, 0, 0, 1) 100%);
  margin: 1rem 0;
}

.valid {
  background-color: rgb(2, 205, 33) ;
}

.invalid {
  background-color: rgb(233, 10, 10);
}


.btn-option:hover{
  background-color: #a8eb12;
}

.reset {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  width: 750px;
  min-height: 400px;
  background: rgb(255, 196, 221);
  background: linear-gradient(90deg, rgba(255, 196, 221, 1) 17%, rgba(214, 123, 246, 1) 100%, rgba(0, 0, 0, 1) 100%);
}

.reset button {
  border: none;
  width: 35%;
  height: 60px;
  font-size: 1rem;
  margin: 1rem;
  border-radius: 40px;
  cursor: pointer;
  font-weight: bold;
}