body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-family: 'Rubik', sans-serif;
  color: #fff;
  background-color: #070012;
  display: grid;
  place-content: center;
  height: 100vh;
}

.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 780px;
  min-height: 400px;
  background: rgb(238, 174, 202);
  background: rgb(255, 196, 221);
  background: linear-gradient(90deg, rgba(255, 196, 221, 1) 17%, rgba(214, 123, 246, 1) 100%, rgba(0, 0, 0, 1) 100%);
  font-size: 2.5rem;
  color: #fff;
}

.question {
  width: 50%;
  padding: 6rem;
  border-radius: 10%;
}

.container-answers {
  width: 100%;
}

.h2-top{
  text-align: center;
}

.container-answers button {
  border: none;
  width: 35%;
  height: 62px;
  font-size: .9rem;
  margin: 1rem;
  border-radius: 40px;
  cursor: pointer;
  font-weight: bold;
}

.answer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  width: 750px;
  background: rgb(255, 196, 221);
  background: linear-gradient(90deg, rgba(255, 196, 221, 1) 17%, rgba(214, 123, 246, 1) 100%, rgba(0, 0, 0, 1) 100%);
  margin: 1rem 0;
}

.valid {
  background-color: rgb(2, 205, 33) ;
}

.invalid {
  background-color: rgb(233, 10, 10);
}


.btn-option:hover{
  background-color: #a8eb12;
}

.reset {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  width: 750px;
  min-height: 400px;
  background: rgb(255, 196, 221);
  background: linear-gradient(90deg, rgba(255, 196, 221, 1) 17%, rgba(214, 123, 246, 1) 100%, rgba(0, 0, 0, 1) 100%);
}

.reset button {
  border: none;
  width: 35%;
  height: 60px;
  font-size: 1rem;
  margin: 1rem;
  border-radius: 40px;
  cursor: pointer;
  font-weight: bold;
}